<div class="card bg-base-100 w-96 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">New event!</h2>
    <p>Join us for a night of fun and games. We will have a live band and a raffle.</p>
    <div class="card-actions justify-end">
      <%= button_tag "Join Now!", class: "btn btn-primary" %>
    </div>
  </div>
</div>