<div class="card bg-base-100 w-96 shadow-xl">
  <figure>
    <%= image_tag "https://images.pexels.com/photos/14213182/pexels-photo-14213182.jpeg?auto=compress&cs=tinysrgb&w=600", alt:"Baby seal" %>
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      Baby Seal!
      <div class="badge badge-secondary">V.10</div>
    </h2>
    <p>Seals are cute and cuddly. They are also very good swimmers.</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Animals</div>
      <div class="badge badge-outline">Cute</div>
    </div>
  </div>
</div>