<div class="mb-12 lg:mb-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="lg:flex lg:items-center lg:justify-between w-full mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
      <h2 class="text-3xl font-extrabold sm:text-4xl">
        <span class="block">
          Want to be millionaire ?
        </span>
        <span class="block">
          It&#x27;s today or never.
        </span>
      </h2>
      <div class="lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow mt-8 lg:mt-0">
          <%= link_to "Get started", new_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
