<section class="mb-12 lg:mb-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-base font-semibold leading-7">Deploy faster</h2>
    <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">A better workflow</p>
    <p class="mt-6 text-lg leading-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</p>
    <div role="tablist" class="tabs tabs-lifted mt-2">
      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="ðŸ’° Feature 1" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <h3 class="text-2xl font-bold tracking-tight">Feature 1</h3>
        <div class="mockup-code">
          <pre data-prefix="$"><code>npm i daisyui</code></pre>
          <pre data-prefix=">" class="text-warning"><code>installing...</code></pre>
          <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        </div>
        <p class="mt-6 text-base leading-7">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
        </p>
      </div>

      <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab"
        aria-label="ðŸš€ Feature 2"
        checked="checked" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <h3 class="text-2xl font-bold tracking-tight">Feature 2</h3>
        <div class="mockup-window bg-base-300 border">
          <div class="bg-base-200 flex justify-center px-4 py-16">A kick ass example of how to use your app</div>
        </div>
        <p class="mt-6 text-base leading-7">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
        </p>
      </div>

      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="ðŸ» Feature 3" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <h3 class="text-2xl font-bold tracking-tight">Feature 3</h3>
        <p class="mt-6 text-base leading-7">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
        </p>
      </div>
    </div>
  </div>
</section>