<%# featured on section with company icons full width %>
<section class="p-8 md:p-12 flex flex-wrap items-center justify-center gap-4 md:gap-8">
    <div class="flex flex-wrap items-center justify-center gap-4 md:gap-8">
        <p class="text-lg font-semibold">Featured on</p>
        <div class="flex items-center justify-center">
            <img src="https://imgs.search.brave.com/q_RjbyvhypH5R2OBmlWdeGqk1BKeUY9pViJ5bRTvHr0/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9sb2dv/ZG93bmxvYWQub3Jn/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDE4/LzAyL3JlZGRpdC1s/b2dvLnBuZw" alt="Company" class="object-contain w-24 h-24" />
        </div>
        <div class="flex items center justify-center">
            <img src="https://imgs.search.brave.com/kNKeC7tHtD6D5tL4ANt3u6s30oVVHZSqmDRKfRQ22oo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy84/Lzg5L1Byb2R1Y3Rf/SHVudF9Mb2dvLnN2/Zw" alt="Company" class="object-contain w-24 h-24" />
        </div>
        <div class="flex items-center justify-center">
            <img src="https://imgs.search.brave.com/atyaOkc6zgcqPTKdTdgNhR4pW-nf9BIiAb9T06nk1eU/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvZ2l0aHViL3Nt/YWxsL2dpdGh1Yl9Q/Tkc3NS5wbmc" alt="Company" class="object-contain w-24 h-24" />
        </div>
    </div>
</section>