<div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8 lg:py-16">
  <div class="md:flex md:items-end md:justify-between">
    <div class="max-w-xl">
      <h2 class="text-4xl font-bold tracking-tight text-base-700 sm:text-5xl">
        Read trusted reviews from our customers
      </h2>

      <p class="mt-6 max-w-lg leading-relaxed text-base-600">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur praesentium natus
        sapiente commodi. Aliquid sunt tempore iste repellendus explicabo dignissimos placeat,
        autem harum dolore reprehenderit quis! Quo totam dignissimos earum.
      </p>
    </div>

    <%= link_to "Read all the reviews", "#", class: "btn btn-secondary" %>
  </div>

  <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3">
    <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8">
      <div>
        <div class="flex gap-0.5 text-accent">
          <% 5.times do %>
            <%= lucide_icon("star") %>
          <% end %>
        </div>

        <div class="mt-4">
          <p class="text-2xl font-bold text-base-600 sm:text-3xl">Stayin' Alive</p>

          <p class="mt-4 leading-relaxed text-base-600">
            No, Rose, they are not breathing. And they have no arms or legs … Where are they? You
            know what? If we come across somebody with no arms or legs, do we bother resuscitating
            them? I mean, what quality of life do we have there?
          </p>
        </div>
      </div>

      <footer class="mt-4 text-sm font-medium text-base-500 sm:mt-6">
        &mdash; Michael Scott
      </footer>
    </blockquote>

    <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8">
      <div>
        <div class="flex gap-0.5 text-accent">
          <% 5.times do %>
            <%= lucide_icon("star") %>
          <% end %>
        </div>

        <div class="mt-4">
          <p class="text-2xl font-bold text-base-700 sm:text-3xl">Stayin' Alive</p>

          <p class="mt-4 leading-relaxed text-base-500">
            No, Rose, they are not breathing. And they have no arms or legs … Where are they? You
            know what? If we come across somebody with no arms or legs, do we bother resuscitating
            them? I mean, what quality of life do we have there?
          </p>
        </div>
      </div>

      <footer class="mt-4 text-sm font-medium text-base-500 sm:mt-6">
        &mdash; Michael Scott
      </footer>
    </blockquote>

    <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8">
      <div>
        <div class="flex gap-0.5 text-accent">
          <% 5.times do %>
            <%= lucide_icon("star") %>
          <% end %>
        </div>

        <div class="mt-4">
          <p class="text-2xl font-bold text-base-700 sm:text-3xl">Stayin' Alive</p>

          <p class="mt-4 leading-relaxed text-base-500">
            No, Rose, they are not breathing. And they have no arms or legs … Where are they? You
            know what? If we come across somebody with no arms or legs, do we bother resuscitating
            them? I mean, what quality of life do we have there?
          </p>
        </div>
      </div>

      <footer class="mt-4 text-sm font-medium text-base-500 sm:mt-6">
        &mdash; Michael Scott
      </footer>
    </blockquote>
  </div>
</div>