<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16 my-32">
  <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
    <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
      <img
        alt="Lorem ipsum"
        src="https://res.cloudinary.com/therainycloud/image/upload/v1723801163/Group_11_sd3cur.png"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>

    <div class="lg:py-24">
      <h2 class="text-3xl font-bold sm:text-4xl">Lorem Ipsum Dolor</h2>

      <p class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
      </p>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Fusce nec tellus sed augue semper porta. Mauris massa.
        <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      </p>

      <%= link_to "Lorem Ipsum", checkout_path, class: "btn btn-primary mt-6" %>
    </div>
  </div>
</div>