# Change this price ID to your price ID if you add stripe to your project
# Called in checkouts_controller.rb (https://docs.lightningrails.com/features-setup/payment-gateway#pay-gem)
 STRIPE_PRICE_ID="price_1PnH*************zfSC"