<% if notice || alert %>
  <div
    id="flash-alert"
    role="alert"
    class="alert fixed bottom-0 left-0 w-6/12 m-4 bg-base-300 text-neutral shadow-lg rounded-box z-50">
    <%= lucide_icon("message-circle-warning") %>
    <span><%= notice %> <%= alert %></span>
      <form method="dialog">
        <%# Add a button to close the dialog %>
      </form>
  </div>

  <script>
    // Automatically remove the alert after 5 seconds
    setTimeout(() => {
      const alertElement = document.getElementById('flash-alert');
      if (alertElement) {
        alertElement.remove();
      }
    }, 5000); // 5000ms = 5 seconds
  </script>
<% end %>
